#controls {
    margin-bottom: 20px;
}

#bounce-area {
    position: relative;
    width: 1200px; /* Ancho del área de rebote */
    height: 600px; /* Altura del área de rebote */
    border: 2px solid black; /* Borde del área de rebote */
    overflow: hidden; /* Evita que el círculo se salga del área de rebote */
}

#circle {
    position: absolute;
    width: 50px; /* Ancho inicial del círculo */
    height: 50px; /* Altura inicial del círculo */
    border-radius: 50%; /* Forma del círculo */
    background-color: red; /* Color inicial del círculo */
    left: 0; /* Posición inicial horizontal */
    top: 0; /* Posición inicial vertical */
}
#controls {
    margin-bottom: 20px;
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

#controls label {
    margin-right: 10px;
}

#controls input[type="range"] {
    width: 150px;
    margin-right: 10px;
}

#toggleButton {
    padding: 5px 10px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#toggleButton:hover {
    background-color: #0056b3;
}
